<!DOCTYPE html>
<html lang="vi">
<<<<<<< HEAD
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Thi trắc nghiệm</title>

    <!--Start Css-->
    <%include partials/css%>
    <link rel="stylesheet" href="/custom/homepage/css/homepage.css">

    <!--Start Script-->
    <%include partials/scripts%>
    <!--End Script-->

</head>
=======

<%-include('../../layouts/head.ejs')%>
>>>>>>> 42eea30a0d2c37fcd066f6ebbed9ec55a4312683

<body>
    <div id="wrapper">
        <!--Start Header-->
<<<<<<< HEAD
        <%-include models/_navbar%>
=======
        <header class="animated fadeInDown">
            <a class="logo" href="">Logo</a>
            <div class="menu-toggle">
            </div>
            <nav>
                <ul>
                    <li><a class="active" href="/">Trang Chủ</a></li>
                    <li><a href="/users/exam">Khoá Thi</a></li>
                    <li><a href="/users/information">Thông tin</a></li>
                    <li><a href="/users/login">Đăng nhập</a></li>
                    <li><a href="/users/register">Đăng Kí</a></li>
                </ul>
            </nav>
            <div class="clearfix">
            </div>
        </header>
>>>>>>> 42eea30a0d2c37fcd066f6ebbed9ec55a4312683
        <!--End Header-->
    </div>
    <div class="menu-wrapper">
        <section id="featured">
            <div class="">
                <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
                    <ol id="animate1" class="carousel-indicators">
                        <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                        <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="./images/background-geometry-1920x1080.jpeg"
                                class="d-block w-100 featured-slide" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>First slide label</h5>
                                <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="./images/background-geometry-1920x1080-2.png"
                                class="d-block w-100 featured-slide" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Second slide label</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="./images/background-geometry-1920x1080-3.png"
                                class="d-block w-100 featured-slide" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Third slide label</h5>
                                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <form method="post" action="">
            <section id="content" class="animated slow">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center" style="margin-top: 20px;">
                            <h3 id="title">Môn thi</h3>
                        </div>
                    </div>
                    <div class="row screen-desktop">
                        <div class="col-md-12">
                            <div id="media" class="carousel slide media-carousel">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="skill-home">
                                                    <div class="skill-home-solid">
                                                        <div class="text-center col-md-12 subject-card">
                                                            <span class="icons c1">
                                                                <img class="subject-icon"
                                                                    src="./images/math.png" alt="Toán">
                                                            </span>
                                                            <div class="box-area text-center">
                                                                <h3>Toán học</h3>
                                                                <p>Đề thi gồm 50 câu, thời gian thi 90
                                                                    phút
                                                                </p>
                                                                <button type="button" class="btn btn-outline-danger">Thi
                                                                    Ngay</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="skill-home">
                                                    <div class="skill-home-solid">
                                                        <div class="text-center col-md-12 subject-card">
                                                            <span class="icons c2">
                                                                <img class="subject-icon"
                                                                    src="./images/physic.png" alt="Toán">
                                                            </span>
                                                            <div class="box-area text-center">
                                                                <h3>Vật Lí</h3>
                                                                <p>Đề thi gồm 50 câu, thời gian thi 90
                                                                    phút
                                                                </p>
                                                                <button type="button" class="btn btn-outline-danger">Thi
                                                                    Ngay</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="skill-home">
                                                    <div class="skill-home-solid">
                                                        <div class="text-center col-md-12 subject-card">
                                                            <span class="icons c3">
                                                                <img class="subject-icon"
                                                                    src="./images/chemistry.png" alt="Toán">
                                                            </span>
                                                            <div class="box-area text-center">
                                                                <h3>Hoá học</h3>
                                                                <p>Đề thi gồm 50 câu, thời gian thi 90
                                                                    phút
                                                                </p>
                                                                <button type="button" class="btn btn-outline-danger">Thi
                                                                    Ngay</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="skill-home">
                                                    <div class="skill-home-solid">
                                                        <div class="text-center col-md-12 subject-card">
                                                            <span class="icons c4">
                                                                <img class="subject-icon"
                                                                    src="./images/anh.png" alt="Toán">
                                                            </span>
                                                            <div class="box-area text-center">
                                                                <h3>Tiếng anh</h3>
                                                                <p>Đề thi gồm 50 câu, thời gian thi 90
                                                                    phút
                                                                </p>
                                                                <button type="button" class="btn btn-outline-danger">Thi
                                                                    Ngay</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="skill-home">
                                                    <div class="skill-home-solid">
                                                        <div class="text-center col-md-12 subject-card">
                                                            <span class="icons c1">
                                                                <img class="subject-icon"
                                                                    src="./images/math.png" alt="Toán">
                                                            </span>
                                                            <div class="box-area text-center">
                                                                <h3>Toán học</h3>
                                                                <p>Đề thi gồm 50 câu, thời gian thi 90
                                                                    phút
                                                                </p>
                                                                <button type="button" class="btn btn-outline-danger">Thi
                                                                    Ngay</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="skill-home">
                                                    <div class="skill-home-solid">
                                                        <div class="text-center col-md-12 subject-card">
                                                            <span class="icons c2">
                                                                <img class="subject-icon"
                                                                    src="./images/lichsu.png" alt="Toán">
                                                            </span>
                                                            <div class="box-area text-center">
                                                                <h3>Lịch sử</h3>
                                                                <p>Đề thi gồm 50 câu, thời gian thi 90
                                                                    phút
                                                                </p>
                                                                <button type="button" class="btn btn-outline-danger">Thi
                                                                    Ngay</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="skill-home">
                                                    <div class="skill-home-solid">
                                                        <div class="text-center col-md-12 subject-card">
                                                            <span class="icons c3">
                                                                <img class="subject-icon"
                                                                    src="./images/dialy.png" alt="Toán">
                                                            </span>
                                                            <div class="box-area text-center">
                                                                <h3>Địa lí</h3>
                                                                <p>Đề thi gồm 50 câu, thời gian thi 90
                                                                    phút
                                                                </p>
                                                                <button type="button" class="btn btn-outline-danger">Thi
                                                                    Ngay</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="skill-home">
                                                    <div class="skill-home-solid">
                                                        <div class="text-center col-md-12 subject-card">
                                                            <span class="icons c4">
                                                                <img class="subject-icon"
                                                                    src="./images/biology.png" alt="Toán">
                                                            </span>
                                                            <div class="box-area text-center">
                                                                <h3>Sinh học</h3>
                                                                <p>Đề thi gồm 50 câu, thời gian thi 90
                                                                    phút
                                                                </p>
                                                                <button type="button" class="btn btn-outline-danger">Thi
                                                                    Ngay</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="skill-home">
                                                    <div class="skill-home-solid">
                                                        <div class="text-center col-md-12 subject-card">
                                                            <span class="icons c1">
                                                                <img class="subject-icon"
                                                                    src="./images/math.png" alt="Toán">
                                                            </span>
                                                            <div class="box-area text-center">
                                                                <h3>Toán học</h3>
                                                                <p>Đề thi gồm 50 câu, thời gian thi 90
                                                                    phút
                                                                </p>
                                                                <button type="button" class="btn btn-outline-danger">Thi
                                                                    Ngay</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="skill-home">
                                                    <div class="skill-home-solid">
                                                        <div class="text-center col-md-12 subject-card">
                                                            <span class="icons c2">
                                                                <img class="subject-icon"
                                                                    src="./images/lichsu.png" alt="Toán">
                                                            </span>
                                                            <div class="box-area text-center">
                                                                <h3>Lịch sử</h3>
                                                                <p>Đề thi gồm 50 câu, thời gian thi 90
                                                                    phút
                                                                </p>
                                                                <button type="button" class="btn btn-outline-danger">Thi
                                                                    Ngay</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="skill-home">
                                                    <div class="skill-home-solid">
                                                        <div class="text-center col-md-12 subject-card">
                                                            <span class="icons c3">
                                                                <img class="subject-icon"
                                                                    src="./images/dialy.png" alt="Toán">
                                                            </span>
                                                            <div class="box-area text-center">
                                                                <h3>Địa lí</h3>
                                                                <p>Đề thi gồm 50 câu, thời gian thi 90
                                                                    phút
                                                                </p>
                                                                <button type="button" class="btn btn-outline-danger">Thi
                                                                    Ngay</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="skill-home">
                                                    <div class="skill-home-solid">
                                                        <div class="text-center col-md-12 subject-card">
                                                            <span class="icons c4">
                                                                <img class="subject-icon"
                                                                    src="./images/anh.png" alt="Toán">
                                                            </span>
                                                            <div class="box-area text-center">
                                                                <h3>Tiếng anh</h3>
                                                                <p>Đề thi gồm 50 câu, thời gian thi 90
                                                                    phút
                                                                </p>
                                                                <button type="button" class="btn btn-outline-danger">Thi
                                                                    Ngay</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <a class="left carousel-control-prev" href="#media" role="button" data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                </a>
                                <a class="right carousel-control-next" href="#media" role="button" data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row screen-moblie">
                        <div class="col-md-12">
                            <div id="media-mobile" class="carousel slide media-carousel">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="skill-home">
                                                    <div class="skill-home-solid">
                                                        <div class="text-center col-md-12 subject-card">
                                                            <span class="icons c1">
                                                                <img class="subject-icon"
                                                                    src="./images/math.png" alt="Toán">
                                                            </span>
                                                            <div class="box-area text-center">
                                                                <h3>Toán học</h3>
                                                                <p>Đề thi gồm 50 câu, thời gian thi 90
                                                                    phút
                                                                </p>
                                                                <button type="button" class="btn btn-outline-danger">Thi
                                                                    Ngay</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="skill-home">
                                                    <div class="skill-home-solid">
                                                        <div class="text-center col-md-12 subject-card">
                                                            <span class="icons c4">
                                                                <img class="subject-icon"
                                                                    src="./images/anh.png" alt="Toán">
                                                            </span>
                                                            <div class="box-area text-center">
                                                                <h3>Tiếng anh</h3>
                                                                <p>Đề thi gồm 50 câu, thời gian thi 90
                                                                    phút
                                                                </p>
                                                                <button type="button" class="btn btn-outline-danger">Thi
                                                                    Ngay</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="skill-home">
                                                    <div class="skill-home-solid">
                                                        <div class="text-center col-md-12 subject-card">
                                                            <span class="icons c3">
                                                                <img class="subject-icon"
                                                                    src="./images/dialy.png" alt="Toán">
                                                            </span>
                                                            <div class="box-area text-center">
                                                                <h3>Địa lí</h3>
                                                                <p>Đề thi gồm 50 câu, thời gian thi 90
                                                                    phút
                                                                </p>
                                                                <button type="button" class="btn btn-outline-danger">Thi
                                                                    Ngay</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <a class="left carousel-control-prev" href="#media-mobile" role="button"
                                    data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                </a>
                                <a class="right carousel-control-next" href="#media-mobile" role="button"
                                    data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </form>
        <section id="animate2" class="bg-table">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div id="animate3" class="table-responsive animated slower">
                            <div class="card shadow table-right" style="margin: 40px 0px;">
                                <div class="card-body" style="overflow-x:auto">
                                    <h4 class="card-title text-center font-weight-bold">Top 10 Trạng Nguyên</h4>
                                    <table class="table table-hover text-center" cellspacing="0" width="100%">
                                        <thead class="bg-danger" style="color: #fff;">
                                            <tr>
                                                <th>Họ tên</th>
                                                <th>Môn</th>
                                                <th>Ngày thi</th>
                                                <th>Thời gian</th>
                                                <th>Điểm</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Võ Phi Nhật Duy</td>
                                                <td>Lịch sử</td>
                                                <td>20/09/2019</td>
                                                <td>20</td>
                                                <td>90</td>
                                            </tr>
                                            <tr>
                                                <td>Võ Phi Nhật Duy</td>
                                                <td>Content 2</td>
                                                <td>Content 2</td>
                                                <td>Content 2</td>
                                                <td>Content 2</td>
                                            </tr>
                                            <tr>
                                                <td>Content 2</td>
                                                <td>Content 2</td>
                                                <td>Content 2</td>
                                                <td>Content 2</td>
                                                <td>Content 2</td>
                                            </tr>
                                            <tr>
                                                <td>Content 2</td>
                                                <td>Content 2</td>
                                                <td>Content 2</td>
                                                <td>Content 2</td>
                                                <td>Content 2</td>
                                            </tr>
                                            <tr>
                                                <td>Content 2</td>
                                                <td>Content 2</td>
                                                <td>Content 2</td>
                                                <td>Content 2</td>
                                                <td>Content 2</td>
                                            </tr>
                                            <tr>
                                                <td>Content 2</td>
                                                <td>Content 2</td>
                                                <td>Content 2</td>
                                                <td>Content 2</td>
                                                <td>Content 2</td>
                                            </tr>
                                            <tr>
                                                <td>Content 2</td>
                                                <td>Content 2</td>
                                                <td>Content 2</td>
                                                <td>Content 2</td>
                                                <td>Content 2</td>
                                            </tr>
                                            <tr>
                                                <td>Content 2</td>
                                                <td>Content 2</td>
                                                <td>Content 2</td>
                                                <td>Content 2</td>
                                                <td>Content 2</td>
                                            </tr>
                                            <tr>
                                                <td>Content 2</td>
                                                <td>Content 2</td>
                                                <td>Content 2</td>
                                                <td>Content 2</td>
                                                <td>Content 2</td>
                                            </tr>
                                            <tr>
                                                <td>Content 2</td>
                                                <td>Content 2</td>
                                                <td>Content 2</td>
                                                <td>Content 2</td>
                                                <td>Content 2</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="aboutUs" style="display:none; padding: 50px 0; border-top: 1px solid #000">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Về cuộc thi</h2>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="box">
                                    <div class="box-image">
                                        <img src="./images/anh.png" alt="">
                                    </div>
                                    <div class="content">
                                        <h1>Content 1</h1>
                                        <p>
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                            en book. It has survived not only five centuries, but also
                                            the leap into electronic typesetting, remaining essentially unchanged.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="box">
                                    <div class="box-image">
                                        <img src="./images/biology.png" alt="">
                                    </div>
                                    <div class="content">
                                        <h1>Content 1</h1>
                                        <p>
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                            en book. It has survived not only five centuries, but also
                                            the leap into electronic typesetting, remaining essentially unchanged.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="box">
                                    <div class="box-image">
                                        <img src="./images/math.png" alt="">
                                    </div>
                                    <div class="content">
                                        <h1>Content 1</h1>
                                        <p>
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                            en book. It has survived not only five centuries, but also
                                            the leap into electronic typesetting, remaining essentially unchanged.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
    </div>
    <section>
        <div id="inf-container" class="inf-container">
            <div class="inf-base">
                <div class="inf-box">
                    <div class="inf-icon">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </div>
                    <div class="inf-content">
                        <h3>Search</h3>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            en book. It has survived not only five centuries, but also
                            the leap into electronic typesetting, remaining essentially unchanged
                        </p>
                    </div>
                </div>
                <div class="inf-box">
                    <div class="inf-icon">
                        <i class="fa fa-user" aria-hidden="true"></i>
                    </div>
                    <div class="inf-content">
                        <h3>User</h3>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            en book. It has survived not only five centuries, but also
                            the leap into electronic typesetting, remaining essentially unchanged
                        </p>
                    </div>
                </div>
                <div class="inf-box">
                    <div class="inf-icon">
                        <i class="fa fa-location-arrow" aria-hidden="true"></i>
                    </div>
                    <div class="inf-content">
                        <h3>Aim</h3>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            en book. It has survived not only five centuries, but also
                            the leap into electronic typesetting, remaining essentially unchanged
                        </p>
                    </div>
                </div>
                <div class="inf-box">
                    <div class="inf-icon">
                        <i class="fa fa-location-arrow" aria-hidden="true"></i>
                    </div>
                    <div class="inf-content">
                        <h3>Aim</h3>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            en book. It has survived not only five centuries, but also
                            the leap into electronic typesetting, remaining essentially unchanged
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
<<<<<<< HEAD
    <%include models/_footer.ejs%>
=======
    <footer id="myFooter">
        <div class="container" id="myFooterInfo">
            <div class="row">
                <div class="col-sm-4 myCols">
                    <h5>Get started</h5>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Sign up</a></li>
                        <li><a href="#">Downloads</a></li>
                    </ul>
                </div>
                <div class="col-sm-4 myCols">
                    <h5>About us</h5>
                    <ul>
                        <li><a href="#">Company Information</a></li>
                        <li><a href="#">Contact us</a></li>
                        <li><a href="#">Reviews</a></li>
                    </ul>
                </div>
                <div class="col-sm-4 myCols">
                    <h5>Support</h5>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Help desk</a></li>
                        <li><a href="#">Forums</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="social-networks">

            <a href="#" class="twitter"><i class="fab fa-twitter"></i></a>
            <a href="#" class="facebook"><i class="fab fa-facebook"></i></a>
            <a href="#" class="google"><i class="fab fa-google-plus"></i></a>
        </div>
        <div class="footer-copyright">
            <p>© 2019 Copyright PhiDuy </p>
        </div>

    </footer>


>>>>>>> 42eea30a0d2c37fcd066f6ebbed9ec55a4312683
    <script type="text/javascript">
        $(document).ready(function () {
            $('.menu-toggle').click(function () {
                $('.menu-toggle').toggleClass('active');
                $('nav').toggleClass('active');
            })
        });
    </script>
    <script type="text/javascript">
        var controller = new ScrollMagic.Controller();
        new ScrollMagic.Scene({ triggerElement: "#animate2"})
                .setClassToggle("#animate2", "fadeInDown")
                .addTo(controller);
        new ScrollMagic.Scene({ triggerElement: "#animate3"})
                .setClassToggle("#animate3", "fadeInRight")
                .addTo(controller);
    </script>
</body>

</html>